Microsoft Office Developer Documentation Team/Office-2007-OBA-Sample-Application-Kit-for-SAP-2680/[C#]-Office 2007 OBA Sample Application Kit for SAP/C#/ContosoTours.SAPServices/Web References/SAP_FLIGHTTRIP/Z_WS_FLIGHTTRIP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char240">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="240" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element name="TYPE" type="tns:char1" />
          <xsd:element name="ID" type="tns:char20" />
          <xsd:element name="NUMBER" type="tns:numeric3" />
          <xsd:element name="MESSAGE" type="tns:char220" />
          <xsd:element name="LOG_NO" type="tns:char20" />
          <xsd:element name="LOG_MSG_NO" type="tns:numeric6" />
          <xsd:element name="MESSAGE_V1" type="tns:char50" />
          <xsd:element name="MESSAGE_V2" type="tns:char50" />
          <xsd:element name="MESSAGE_V3" type="tns:char50" />
          <xsd:element name="MESSAGE_V4" type="tns:char50" />
          <xsd:element name="PARAMETER" type="tns:char32" />
          <xsd:element name="ROW" type="xsd:int" />
          <xsd:element name="FIELD" type="tns:char30" />
          <xsd:element name="SYSTEM" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIPAREX">
        <xsd:sequence>
          <xsd:element name="STRUCTURE" type="tns:char30" />
          <xsd:element name="VALUEPART1" type="tns:char240" />
          <xsd:element name="VALUEPART2" type="tns:char240" />
          <xsd:element name="VALUEPART3" type="tns:char240" />
          <xsd:element name="VALUEPART4" type="tns:char240" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRPAS">
        <xsd:sequence>
          <xsd:element name="PASSNAME" type="tns:char25" />
          <xsd:element name="PASSFORM" type="tns:char15" />
          <xsd:element name="PASSBIRTH" type="tns:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRNEW">
        <xsd:sequence>
          <xsd:element name="AGENCYNUM" type="tns:numeric8" />
          <xsd:element name="CUSTOMERID" type="tns:numeric8" />
          <xsd:element name="FLCONN1" type="tns:numeric4" />
          <xsd:element name="FLDATE1" type="tns:date" />
          <xsd:element name="FLCONN2" type="tns:numeric4" />
          <xsd:element name="FLDATE2" type="tns:date" />
          <xsd:element name="CLASS" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRPRI">
        <xsd:sequence>
          <xsd:element name="TRIPPRICE" type="tns:decimal23.4" />
          <xsd:element name="TRIPTAX" type="tns:decimal23.4" />
          <xsd:element name="CURR" type="tns:cuky5" />
          <xsd:element name="CURR_ISO" type="tns:char3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISCODRA">
        <xsd:sequence>
          <xsd:element name="SIGN" type="tns:char1" />
          <xsd:element name="OPTION" type="tns:char2" />
          <xsd:element name="LOW" type="tns:date" />
          <xsd:element name="HIGH" type="tns:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRDAT">
        <xsd:sequence>
          <xsd:element name="AGENCYNUM" type="tns:numeric8" />
          <xsd:element name="TRIPNUMBER" type="tns:numeric8" />
          <xsd:element name="CUSTOMERID" type="tns:numeric8" />
          <xsd:element name="FLCONN1" type="tns:numeric4" />
          <xsd:element name="FLDATE1" type="tns:date" />
          <xsd:element name="FLCONN2" type="tns:numeric4" />
          <xsd:element name="FLDATE2" type="tns:date" />
          <xsd:element name="CLASS" type="tns:char1" />
          <xsd:element name="NUMADULT" type="xsd:short" />
          <xsd:element name="NUMCHILD" type="xsd:short" />
          <xsd:element name="NUMINFANT" type="xsd:short" />
          <xsd:element name="ORDERDATE" type="tns:date" />
          <xsd:element name="STATUS" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPIRET2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPIPAREX">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPIPAREX" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPISTRPAS">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPISTRPAS" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPISCODRA">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPISCODRA" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_BAPISTRDAT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BAPISTRDAT" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BAPI_FLTRIP_CANCEL">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="RETURN" type="tns:TABLE_OF_BAPIRET2" />
            <xsd:element name="TRAVELAGENCYNUMBER" type="tns:numeric8" />
            <xsd:element name="TRIPNUMBER" type="tns:numeric8" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLTRIP_CANCELResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLTRIP_CREATE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="EXTENSION_IN" type="tns:TABLE_OF_BAPIPAREX" />
            <xsd:element name="FLIGHT_TRIP_DATA" type="tns:BAPISTRNEW" />
            <xsd:element name="PASSENGER_LIST" type="tns:TABLE_OF_BAPISTRPAS" />
            <xsd:element minOccurs="0" name="RETURN" type="tns:TABLE_OF_BAPIRET2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLTRIP_CREATEResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EXTENSION_IN" type="tns:TABLE_OF_BAPIPAREX" />
            <xsd:element name="PASSENGER_LIST" type="tns:TABLE_OF_BAPISTRPAS" />
            <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" />
            <xsd:element name="TICKET_PRICE" type="tns:BAPISTRPRI" />
            <xsd:element name="TRAVELAGENCYNUMBER" type="tns:numeric8" />
            <xsd:element name="TRIPNUMBER" type="tns:numeric8" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLTRIP_GETLIST">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="BOOKING_DATE_RANGE" type="tns:TABLE_OF_BAPISCODRA" />
            <xsd:element minOccurs="0" name="CUSTOMER_NUMBER" type="tns:numeric8" />
            <xsd:element minOccurs="0" name="EXTENSION_IN" type="tns:TABLE_OF_BAPIPAREX" />
            <xsd:element minOccurs="0" name="EXTENSION_OUT" type="tns:TABLE_OF_BAPIPAREX" />
            <xsd:element minOccurs="0" name="FLIGHT_TRIP_LIST" type="tns:TABLE_OF_BAPISTRDAT" />
            <xsd:element minOccurs="0" name="MAX_ROWS" type="xsd:int" />
            <xsd:element minOccurs="0" name="RETURN" type="tns:TABLE_OF_BAPIRET2" />
            <xsd:element name="TRAVEL_AGENCY" type="tns:numeric8" />
            <xsd:element minOccurs="0" name="TRIP_DATE_RANGE" type="tns:TABLE_OF_BAPISCODRA" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLTRIP_GETLISTResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BOOKING_DATE_RANGE" type="tns:TABLE_OF_BAPISCODRA" />
            <xsd:element name="EXTENSION_IN" type="tns:TABLE_OF_BAPIPAREX" />
            <xsd:element name="EXTENSION_OUT" type="tns:TABLE_OF_BAPIPAREX" />
            <xsd:element name="FLIGHT_TRIP_LIST" type="tns:TABLE_OF_BAPISTRDAT" />
            <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2" />
            <xsd:element name="TRIP_DATE_RANGE" type="tns:TABLE_OF_BAPISCODRA" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BAPI_FLTRIP_CANCEL">
    <wsdl:part name="parameters" element="tns:BAPI_FLTRIP_CANCEL" />
  </wsdl:message>
  <wsdl:message name="BAPI_FLTRIP_CANCELResponse">
    <wsdl:part name="parameters" element="tns:BAPI_FLTRIP_CANCELResponse" />
  </wsdl:message>
  <wsdl:message name="BAPI_FLTRIP_CREATE">
    <wsdl:part name="parameters" element="tns:BAPI_FLTRIP_CREATE" />
  </wsdl:message>
  <wsdl:message name="BAPI_FLTRIP_CREATEResponse">
    <wsdl:part name="parameters" element="tns:BAPI_FLTRIP_CREATEResponse" />
  </wsdl:message>
  <wsdl:message name="BAPI_FLTRIP_GETLIST">
    <wsdl:part name="parameters" element="tns:BAPI_FLTRIP_GETLIST" />
  </wsdl:message>
  <wsdl:message name="BAPI_FLTRIP_GETLISTResponse">
    <wsdl:part name="parameters" element="tns:BAPI_FLTRIP_GETLISTResponse" />
  </wsdl:message>
  <wsdl:portType name="Z_WS_FLIGHTTRIP">
    <wsdl:operation name="BAPI_FLTRIP_CANCEL">
      <wsdl:input message="tns:BAPI_FLTRIP_CANCEL" />
      <wsdl:output message="tns:BAPI_FLTRIP_CANCELResponse" />
    </wsdl:operation>
    <wsdl:operation name="BAPI_FLTRIP_CREATE">
      <wsdl:input message="tns:BAPI_FLTRIP_CREATE" />
      <wsdl:output message="tns:BAPI_FLTRIP_CREATEResponse" />
    </wsdl:operation>
    <wsdl:operation name="BAPI_FLTRIP_GETLIST">
      <wsdl:input message="tns:BAPI_FLTRIP_GETLIST" />
      <wsdl:output message="tns:BAPI_FLTRIP_GETLISTResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Z_WS_FLIGHTTRIPSoapBinding" type="tns:Z_WS_FLIGHTTRIP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BAPI_FLTRIP_CANCEL">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BAPI_FLTRIP_CREATE">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BAPI_FLTRIP_GETLIST">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Z_WS_FLIGHTTRIPService">
    <wsdl:port name="Z_WS_FLIGHTTRIPSoapBinding" binding="tns:Z_WS_FLIGHTTRIPSoapBinding">
      <soap:address location="http://localhost:8000/sap/bc/srt/rfc/sap/Z_WS_FLIGHTTRIP?sap-client=000" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>