Microsoft Office Developer Documentation Team/Office-2007-OBA-Sample-Application-Kit-for-SAP-2680/[C#]-Office 2007 OBA Sample Application Kit for SAP/C#/ContosoTours.SAPServices/Web References/SAP_FLIGHTTRIPCREATE/wsdl11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="BAPI_FLTRIP_CREATE">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="EXTENSION_IN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIPAREX" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="FLIGHT_TRIP_DATA" type="s0:BAPISTRNEW" />
            <xsd:element name="PASSENGER_LIST">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPISTRPAS" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLTRIP_CREATE.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="EXTENSION_IN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIPAREX" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="PASSENGER_LIST">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPISTRPAS" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="TICKET_PRICE" type="s0:BAPISTRPRI" />
            <xsd:element name="TRAVELAGENCYNUMBER">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8" />
                  <xsd:pattern value="\d*" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TRIPNUMBER">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8" />
                  <xsd:pattern value="\d*" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAPIPAREX">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="STRUCTURE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALUEPART1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="240" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALUEPART2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="240" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALUEPART3">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="240" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="VALUEPART4">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="240" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMBER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_MSG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V3">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V4">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARAMETER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ROW" type="xsd:int" />
          <xsd:element minOccurs="0" name="FIELD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYSTEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRNEW">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="AGENCYNUM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CUSTOMERID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FLCONN1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FLDATE1" type="s0:date" />
          <xsd:element minOccurs="0" name="FLCONN2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FLDATE2" type="s0:date" />
          <xsd:element minOccurs="0" name="CLASS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRPAS">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PASSNAME">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="25" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PASSFORM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PASSBIRTH" type="s0:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISTRPRI">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TRIPPRICE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="23" />
                <xsd:fractionDigits value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TRIPTAX">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="23" />
                <xsd:fractionDigits value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CURR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CURR_ISO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="BAPI_FLTRIP_CREATEInput">
    <part name="parameters" element="s0:BAPI_FLTRIP_CREATE" />
  </message>
  <message name="BAPI_FLTRIP_CREATEOutput">
    <part name="parameters" element="s0:BAPI_FLTRIP_CREATE.Response" />
  </message>
  <portType name="BAPI_FLTRIP_CREATEPortType">
    <operation name="BAPI_FLTRIP_CREATE">
      <input message="s0:BAPI_FLTRIP_CREATEInput" />
      <output message="s0:BAPI_FLTRIP_CREATEOutput" />
    </operation>
  </portType>
  <binding name="BAPI_FLTRIP_CREATEBinding" type="s0:BAPI_FLTRIP_CREATEPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="BAPI_FLTRIP_CREATE">
      <soap:operation soapAction="http://www.sap.com/BAPI_FLTRIP_CREATE" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BAPI_FLTRIP_CREATEService">
    <documentation>SAP Service BAPI_FLTRIP_CREATE via SOAP</documentation>
    <port name="BAPI_FLTRIP_CREATEPortType" binding="s0:BAPI_FLTRIP_CREATEBinding">
      <soap:address location="http://localhost:8000/sap/bc/soap/rfc" />
    </port>
  </service>
</definitions>