Microsoft Office Developer Documentation Team/Office-2007-OBA-Sample-Application-Kit-for-SAP-2680/[C#]-Office 2007 OBA Sample Application Kit for SAP/C#/ContosoTours.SAPServices/Web References/SAP_FLIGHTAVAILIBILITY/wsdl11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="BAPI_FLIGHT_CHECKAVAILIBILITY">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="AIRLINEID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="CONNECTIONID">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4" />
                  <xsd:pattern value="\d*" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="FLIGHTDATE" type="s0:date" />
            <xsd:element name="RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_FLIGHT_CHECKAVAILIBILITY.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="AVAILIBILITY" type="s0:BAPISFLAVA" />
            <xsd:element name="RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMBER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_MSG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V3">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V4">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARAMETER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ROW" type="xsd:int" />
          <xsd:element minOccurs="0" name="FIELD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYSTEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BAPISFLAVA">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ECONOMAX" type="xsd:int" />
          <xsd:element minOccurs="0" name="ECONOFREE" type="xsd:int" />
          <xsd:element minOccurs="0" name="BUSINMAX" type="xsd:int" />
          <xsd:element minOccurs="0" name="BUSINFREE" type="xsd:int" />
          <xsd:element minOccurs="0" name="FIRSTMAX" type="xsd:int" />
          <xsd:element minOccurs="0" name="FIRSTFREE" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="BAPI_FLIGHT_CHECKAVAILIBILITYInput">
    <part name="parameters" element="s0:BAPI_FLIGHT_CHECKAVAILIBILITY" />
  </message>
  <message name="BAPI_FLIGHT_CHECKAVAILIBILITYOutput">
    <part name="parameters" element="s0:BAPI_FLIGHT_CHECKAVAILIBILITY.Response" />
  </message>
  <portType name="BAPI_FLIGHT_CHECKAVAILIBILITYPortType">
    <operation name="BAPI_FLIGHT_CHECKAVAILIBILITY">
      <input message="s0:BAPI_FLIGHT_CHECKAVAILIBILITYInput" />
      <output message="s0:BAPI_FLIGHT_CHECKAVAILIBILITYOutput" />
    </operation>
  </portType>
  <binding name="BAPI_FLIGHT_CHECKAVAILIBILITYBinding" type="s0:BAPI_FLIGHT_CHECKAVAILIBILITYPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="BAPI_FLIGHT_CHECKAVAILIBILITY">
      <soap:operation soapAction="http://www.sap.com/BAPI_FLIGHT_CHECKAVAILIBILITY" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BAPI_FLIGHT_CHECKAVAILIBILITYService">
    <documentation>SAP Service BAPI_FLIGHT_CHECKAVAILIBILITY via SOAP</documentation>
    <port name="BAPI_FLIGHT_CHECKAVAILIBILITYPortType" binding="s0:BAPI_FLIGHT_CHECKAVAILIBILITYBinding">
      <soap:address location="http://localhost:8000/sap/bc/soap/rfc" />
    </port>
  </service>
</definitions>