Microsoft Office Developer Documentation Team/Office-2007-OBA-Sample-Application-Kit-for-SAP-2680/[C#]-Office 2007 OBA Sample Application Kit for SAP/C#/ContosoTours.SAPServices/Web References/SAP_COMMITWORK/wsdl11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="BAPI_TRANSACTION_COMMIT">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="WAIT">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BAPI_TRANSACTION_COMMIT.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="RETURN" type="s0:BAPIRET2" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMBER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_MSG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V3">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V4">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARAMETER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ROW" type="xsd:int" />
          <xsd:element minOccurs="0" name="FIELD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYSTEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="BAPI_TRANSACTION_COMMITInput">
    <part name="parameters" element="s0:BAPI_TRANSACTION_COMMIT" />
  </message>
  <message name="BAPI_TRANSACTION_COMMITOutput">
    <part name="parameters" element="s0:BAPI_TRANSACTION_COMMIT.Response" />
  </message>
  <portType name="BAPI_TRANSACTION_COMMITPortType">
    <operation name="BAPI_TRANSACTION_COMMIT">
      <input message="s0:BAPI_TRANSACTION_COMMITInput" />
      <output message="s0:BAPI_TRANSACTION_COMMITOutput" />
    </operation>
  </portType>
  <binding name="BAPI_TRANSACTION_COMMITBinding" type="s0:BAPI_TRANSACTION_COMMITPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="BAPI_TRANSACTION_COMMIT">
      <soap:operation soapAction="http://www.sap.com/BAPI_TRANSACTION_COMMIT" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BAPI_TRANSACTION_COMMITService">
    <documentation>SAP Service BAPI_TRANSACTION_COMMIT via SOAP</documentation>
    <port name="BAPI_TRANSACTION_COMMITPortType" binding="s0:BAPI_TRANSACTION_COMMITBinding">
      <soap:address location="http://localhost:8000/sap/bc/soap/rfc" />
    </port>
  </service>
</definitions>